<link href="~/Content/c3.css" rel="stylesheet" />
<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/d3.min.js"></script>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.TotalPaidStudents</h3>

                <p>Total Paid Students</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer box-new">More info <i class="fa fa-arrow-circle-down"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.TotalStudents</h3>

                <p>Total Students</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer box-new">More info <i class="fa fa-arrow-circle-down"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.TotalAdmins</h3>

                <p>Total Admins</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer box-new">More info <i class="fa fa-arrow-circle-down"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="chartArea">
        <div class="col-md-6">
            <div class="box box-primary">
                <h1 class="headingChart">User Types in Pie Chart</h1>
                <div id="pieChart"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <h1 class="headingChart">User Types in Bar Chart</h1>
                <div id="barChart"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Dashboard/PieChart",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                successFunc(response);
            },
        });

        function successFunc(jsondata) {
            var data = {};
            var userTypes = [];
            jsondata.forEach(function (e) {
                userTypes.push(e.UserType);
                data[e.UserType] = e.UserCount;
            })

            var chartPie = c3.generate({
                bindto: '#pieChart',
                data: {
                    json: [data],
                    keys: {
                        value: userTypes,
                    },
                    type: 'pie'
                },
                color: {
                    pattern: ['#800000', '#972E25']
                },
                pie: {
                    width: 200 // this makes bar width 100px
                }
            });

            var chartBar = c3.generate({
                bindto: '#barChart',
                data: {
                    json: [data],
                    keys: {
                        value: userTypes,
                    },
                    type: 'bar'
                },
                color: {
                    pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a', '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
                },
                bar: {
                    width: 200 // this makes bar width 100px
                }
            });
        }
    });
</script>
