@model IEnumerable<OnlineRevision.DbContext.QuestionSetViewModel>
@{
    ViewBag.Title = "Student Details";
}

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@

<style>
    .asideQues {
        float: right;
    }

    .acc {
        margin: 0 auto;
        max-width: 800px;
    }

    .acc__card {
        margin: 2em;
        position: relative;
    }

    .acc__title {
        font-weight: bold;
        cursor: pointer;
        display: block;
        padding: 1em 1.5em;
        position: relative;
        text-align: left;
        &::after;

    {
        width: 8px;
        height: 8px;
        border-right: 1px solid #4a6e78;
        border-bottom: 1px solid #4a6e78;
        position: absolute;
        right: 10px;
        content: " ";
        top: 17px;
        transform: rotate(-45deg);
        transition: all 0.2s ease-in-out;
    }

    .active::after {
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
    }

    }

    .acc__panel {
        display: none;
        margin: 0;
        padding: 1.6%;
        text-align: left;
    }

    #QuesDetails {
        color: white;
    }

     .quesDetails td {
        font-size: 100%;
    }

    .dataTables_filter {
        float: right;
    }
</style>

<script>
    $(document).ready(function () {
        $('.mainAnchorQuestions').click(function () {
            var id = $(this).attr("id");
            $("#result").load('@Url.Action("LoadPartialView", "Dashboard")', { passVal: id });
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Question Bank</b></h3>

                <div>
                    <a class="btn btn-primary mainAnchorQuestions" id="addQuestions">Add Questions</a>
                </div>
            </div>

            <div class="asideQues"><a href="#" class="btn btn-github">Show Questions</a></div>

            <div id="tabs">

            </div>
            <!-- /.row -->
        </div>
    </div>
</div>

<!--jQuery DataTable-->
<script src="~/dist/js/jquery.dataTables.min.js"></script>
<script src="~/dist/js/jquery-ui-1.12.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetQuesDetails();

        function GetQuesDetails() {
            var html = "";
            var price = "";

            $.ajax({
                url: "/Exam/GetAllQuesSet",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (quesSet) {
                    if (quesSet != null || quesSet != "") {
                        html += "<ul>";
                        $.each(quesSet, function (i, quesSets) {
                            html += "<li><a href='#" + quesSets.TabName + "'>" + quesSets.FolderName + "</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>";
                        });
                        html += "</ul>";

                        $.each(quesSet, function (i, quesSets) {
                            html += "<div id='" + quesSets.TabName + "'>";
                            html += "<div class='row'><div class='col-xs-12 table-responsive'><div class='tableFixHead'>" +
                                    "<table class='table table-striped display nowrap quesDetails'>" +
                                    "<thead><tr><th>Select</th><th>Action</th><th>Added On</th><th>Name</th></tr></thead><tfoot><tr><th>Select</th><th>Action</th><th>Added On</th><th>Name</th></tr></tfoot><tbody>";

                            $.each(quesSets.QuestionSetList, function (i, quesSets2) {
                                html += "<tr>" +
                                        "<td class='details'><input type='checkbox' class='cbCheck' value='" + quesSets2.QuestionSetId + "' id='" + quesSets2.QuestionSetId + "' /></td>" +
                                        "<td><a class='btn btn-primary btn-sm mainAnchorEditQues' id='QuesDetails' data-setId='" + quesSets2.QuestionSetId + "'><i class='fa fa-pen fa-lg'></i></a></td>" +
                                        "<td class='details'>" + getFormattedDate(quesSets2.CreatedOn) + "</td>" +
                                        "<td class='details hideEmail'>" + quesSets2.QuestionSetName + "</td>";
                                "</tr>";
                            })

                            html += "</tbody></table></div></div></div>";
                            html += "</div>";
                        })
                    }


                    $("#tabs").append(html);

                    tabs = $("#tabs").tabs();

                    var table = $('.quesDetails').DataTable({
                        orderCellsTop: true,
                        fixedHeader: true,
                        paging: false,
                        bDestroy: true,
                        /* Disable initial sort */
                        "aaSorting": []
                    });

                    //Click event to retrieve student details
                    $('.mainAnchorEditQues').click(function () {
                        var id = $(this).attr("id");
                        var quesId = $(this).attr("data-setId");
                        console.log(quesId);
                        $("#result").html("Loading ......");
                        $("#result").load('@Url.Action("LoadStudentPartialView", "Dashboard")', { passVal: id, id: quesId });
                    });

                    function getFormattedDate(date) {
                        var dt = new Date(parseInt(date.replace("/Date(", "").replace(")/", ""), 10))
                        var date = new Date(Date.parse(dt));

                        return (date.getUTCDate()) + "/" + (date.getMonth() + 1) + "/" + +date.getFullYear();
                    }
                },
                error: function (er) {
                    //alert(er);
                }
            });
        }
    });
</script>