@model IEnumerable<OnlineRevision.Models.Users>
@{
    ViewBag.Title = "Student Details";
}


<style>
    #dialog label, #dialog input {
        display: block;
    }

    #dialog label {
        margin-top: 0.5em;
    }

    #dialog input, #dialog textarea {
        width: 95%;
    }

    #tabs {
        margin-top: 1em;
    }

        #tabs li .ui-icon-close {
            float: left;
            margin: 0.4em 0.2em 0 0;
            cursor: pointer;
        }

    #add_tab {
        cursor: pointer;
    }

    .userDetails td {
        font-size: 100%;
    }

    #editDetails, #archiveIds {
        color: white;
    }

    .box {
        border-top: 3px !important;
    }

    .dataTables_filter {
        float: right;
    }

    .dollar:before {
        content: '£';
        font-size: 12px;
        color: black;
        padding-top: 42px;
        vertical-align: top;
        flex: 1 0 auto;
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="col-md-12" id="dialog" title="Folder">
                <form>
                    <fieldset class="ui-helper-reset">
                        <label for="tab_title">Title</label>
                        <input type="text" name="tab_title" id="tab_title" value="Folder Title" class="ui-widget-content ui-corner-all">
                        <label for="tab_content">Content</label>
                        <textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all">Folder content</textarea>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-12">
                <input type="button" id="add_tab" value="Add Folder" /><br /><br />
            </div>
            <div class="col-md-12">
                <div class="col-md-2 input-group">
                    <div id="dropDownValues"></div>
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-primary" id="transfer" value="Transfer" />
                    </span>&nbsp;
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-danger" id="delete" value="Delete" />
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <div id="tabs">

                </div>
            </div>
        </div>
    </div>
</div>

<!--jQuery DataTable-->
<script src="~/dist/js/jquery.dataTables.min.js"></script>
<script src="~/dist/js/jquery-ui-1.12.1.js"></script>
<script type="text/javascript">
    var tabs = "";

    GetUserDetails();
    $("#transfer").hide();
    $("#delete").hide();

    //Transfer students to different folders
    $("#transfer").click(function () {
        var $container = $('.userDetails');
        var $checked = $container.find('.cbCheck:checked');
        var values = $checked.map(function () {
            return this.value
        }).get();

        var folderType = $('#folderType').val();
        alert(values);

        $.ajax({
            url: "/Dashboard/UpdateToFolder",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ userId: values.join(','), tabName: folderType }),
            success: function (response) {
                if (response.value != null || response.value != "") {
                    alert(response.value);

                    $("#result").load('@Url.Action("LoadPartialView", "Dashboard")', { passVal: "studentDetails" });
                }
            }
        });
    });

    //Delete students
    $("#delete").click(function () {
        var $container = $('.userDetails');
        var $checked = $container.find('.cbCheck:checked');
        var values = $checked.map(function () {
            return this.value
        }).get();

        alert(values);

        var cnfrm = confirm('Are you sure to delete?');
        if (cnfrm == true) {
            $.ajax({
                url: "/Dashboard/DeleteStudents",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ userId: values.join(',') }),
                success: function (response) {
                    if (response.value != null || response.value != "") {
                        alert(response.value);

                        $("#result").load('@Url.Action("LoadPartialView", "Dashboard")', { passVal: "studentDetails" });
                    }
                }
            });
        } else {
            return false;
        }
    });

    function GetUserDetails() {
        var html = "";
        var price = "";

        $.ajax({
            url: "/Dashboard/GetFoldersWithStudent",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (user) {
                if (user != null || user != "") {

                    html += "<ul>";
                    $.each(user, function (i, users) {
                        html += "<li><a href='#" + users.TabName + "'>" + users.FolderName + " (" + users.TotalUsers + ")" + "</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>";
                    })
                    html += "</ul>";

                    $.each(user, function (i, users) {
                        html += "<div id='" + users.TabName + "'>";

                        html += "<div class='row'><div class='col-xs-12 table-responsive'><div class='tableFixHead'>" +
                                "<table class='table table-striped display nowrap userDetails'>" +
                                "<thead><tr><th>Select</th><th>Action</th><th>Added On</th><th>Name</th><th class='hideEmail'>Email</th>" +
                                "<th>University</th><th>Paid</th></tr></thead><tfoot><tr><th>Select</th><th>Action</th><th>Added On</th><th>Name</th><th class='hideEmail'>Email</th>" +
                                "<th>University</th><th>Paid</th></tr></tfoot><tbody>";

                        $.each(users.UsersList, function (i, users2) {
                            //html += "<p>" + users2.UserName + "</p>";

                            html += "<tr class='" + users2.UserName + "'>" +
                                    "<td class='details'><input type='checkbox' class='cbCheck' value='" + users2.UserId + "' id='" + users2.Email + "' /></td>" +
                                    "<td><a class='btn btn-primary btn-sm mainAnchorStudents' id='editDetails' data-userid='" + users.Email + "'><i class='fa fa-pen fa-lg'></i></a></td>" +
                                    //"<a class='btn btn-danger btn-sm' id='archiveIds' data-userid='" + users2.UserId + "'><i class='fa fa-trash fa-lg'></i></a></td>" +
                                    "<td class='details'>" + getFormattedDate(users2.CreatedOn) + "</td>" +
                                    "<td class='details'>" + users2.UserName + "</td>" +
                                    //"<td class='details'>" + users2.TotalSubscription + "</td>" +
                                    "<td class='details'>" + users2.Email + "</td>" +
                                    "<td class='details hideEmail'>" + users2.University + "</td>";

                            if (users2.TotalDays == 7) {
                                price = 20;
                            } else if (users2.TotalDays == 14) {
                                price = 25;
                            } else if (users2.TotalDays == 7) {
                                price = 30;
                            } else if (users2.TotalDays == null) {
                                price = 0;
                            }

                            html += "<td class='details hideEmail'><span class='dollar'></span>" + price + "</td>" +
                            "</tr>";
                        })

                        html += "</tbody></table></div></div></div>";

                        html += "</div>";
                    })
                }

                function getFormattedDate(date) {
                    var dt = new Date(parseInt(date.replace("/Date(", "").replace(")/", ""), 10))
                    var date = new Date(Date.parse(dt));

                    return (date.getUTCDate()) + "/" + (date.getMonth() + 1) + "/" + +date.getFullYear();
                }

                //Get drop down list values here
                GetDropDownListValues();
                $("#tabs").append(html);

                tabs = $("#tabs").tabs();

                var table = $('.userDetails').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    paging: false,
                    bDestroy: true,
                    /* Disable initial sort */
                    "aaSorting": []
                });

                //Tab functions here
                $(function () {
                    var tabTitle = $("#tab_title"),
                      tabContent = $("#tab_content"),
                      tabTemplate = "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>",
                      tabCounter = 2;

                    // Modal dialog init: custom buttons and a "close" callback resetting the form inside
                    var dialog = $("#dialog").dialog({
                        autoOpen: false,
                        modal: true,
                        buttons: {
                            Add: function () {
                                addTab();
                                $(this).dialog("close");
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        },
                        close: function () {
                            form[0].reset();
                        }
                    });

                    // AddTab form: calls addTab function on submit and closes the dialog
                    var form = dialog.find("form").on("submit", function (event) {
                        addTab();
                        dialog.dialog("close");
                        event.preventDefault();
                    });

                    // Actual addTab function: adds new tab using the input from the form above
                    function addTab() {
                        var label = tabTitle.val() || "Tab " + tabCounter,
                          id = "tabs-" + tabCounter,
                          li = $(tabTemplate.replace(/#\{href\}/g, "#" + id).replace(/#\{label\}/g, label)),
                          tabContentHtml = tabContent.val() || "Tab " + tabCounter + " content.";

                        $.ajax({
                            url: "/Dashboard/AddFolders",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({ folderName: tabTitle.val(), details: tabContent.val() }),
                            success: function (response) {
                                if (response.value != "") {
                                    alert(response.value);

                                    tabs.find(".ui-tabs-nav").append(li);
                                    //tabs.append("<div id='" + id + "'><p>" + tabContentHtml + "</p></div>");
                                    tabs.tabs("refresh");
                                    tabCounter++;

                                    GetDropDownListValues();
                                } else {
                                    alert("Failed!");
                                }
                            },
                            error: function (er) {
                                //alert(er);
                            }
                        });
                    }

                    // AddTab button: just opens the dialog
                    $("#add_tab")
                      .button()
                      .on("click", function () {
                          dialog.dialog("open");
                      });

                    // Close icon: removing the tab on click
                    tabs.on("click", "span.ui-icon-close", function () {
                        var cnfrm = confirm('Are you sure to delete the tab? Your records will be lost permanently.');
                        if (cnfrm == true) {
                            var panelId = $(this).closest("li").remove().attr("aria-controls");
                            alert(panelId);

                            $("#" + panelId).remove();
                            tabs.tabs("refresh");

                            $.ajax({
                                url: "/Dashboard/DeleteFolders",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify({ tabName: panelId }),
                                success: function (response) {
                                    if (response.value != "") {
                                        alert(response.value);
                                    } else {
                                        alert("Failed!");
                                    }
                                },
                                error: function (er) {
                                    //alert(er);
                                }
                            });
                        } else {
                            return false;
                        }
                    });

                    tabs.on("keyup", function (event) {
                        if (event.altKey && event.keyCode === $.ui.keyCode.BACKSPACE) {

                            var panelId = tabs.find(".ui-tabs-active").remove().attr("aria-controls");
                            $("#" + panelId).remove();
                            tabs.tabs("refresh");

                            alert(paneId);
                        }
                    });
                });
            },
            error: function (er) {
                //alert(er);
            }
        });
    }

    //Get drop down list values
    function GetDropDownListValues() {
        var selectType = "";
        $("#dropDownValues").empty();

        $.ajax({
            url: "/Dashboard/GetFoldersWithStudent",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (user) {
                if (user != null || user != "") {

                    selectType += "<select class='ui-button ui-corner-all ui-widget' name='folderType' id='folderType'>";
                    selectType += "<option value='0'>----Select Folder Type----</option>";
                    $.each(user, function (i, users) {
                        selectType += "<option value='" + users.TabName + "'>" + users.FolderName + "</option>";
                    })
                    selectType += "</select>";
                }

                function getFormattedDate(date) {
                    var dt = new Date(parseInt(date.replace("/Date(", "").replace(")/", ""), 10))
                    var date = new Date(Date.parse(dt));

                    return (date.getUTCDate()) + "/" + (date.getMonth() + 1) + "/" + +date.getFullYear();
                }

                $("#dropDownValues").append(selectType);

                //Drop down value change event
                $("#folderType").change(function () {
                    var val = $('#folderType').val();

                    if (val != "0") {
                        $("#transfer").show();
                        $("#delete").show();
                    } else {
                        $("#transfer").hide();
                        $("#delete").hide();
                    }

                    alert(val);
                });
            },
            error: function (er) {
                //alert(er);
            }
        });
    }
</script>
