<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="OnlineRevision" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <!-- Stripe SDK settings -->

    <!-- Stripe SDK settings -->
    <add key="StripeSecretKey" value="sk_test_51HSmHXJXqX9mCgd9NnvPRmYY50s3kTcqAbkOcWYX5QpCxrJ2aGDbK2BJP592ppDYo9ozebRtxQdp4fZeS06bWPaH00f3gmjQD7" />
    <add key="StripePublishableKey" value="pk_test_51HSmHXJXqX9mCgd9JaMxI3TwaBqJzNJs1pbk6gjQYsuLPYFd7CdcN8nxYTSDnZ71S1drIwSarxCVJ9tHhLdVUzPu009koz6atM" />

    <!--<add key="StripeSecretKey" value="sk_test_M5CrZzg0uGoYxcZ5Aq5Nw9Yo00cdLLebpI" />
    <add key="StripePublishableKey" value="pk_test_hU24l81pg6VsCYiHi8gyiN3x00NuD46KkY" />-->
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
