<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="live"/>
      <add name="connectionTimeout" value="360000"/>
      <add name="requestRetries" value="1"/>
      <add name="paypalId" value="AS6lDS_sgY98tvfUF1dbXIQ0Ws4ekb5Cn05A7RXvsbYeGoLEtO6O_Rh__DcUZF13O77dHdNXclrUaIEu"/>
      <add name="paypalSecret" value="EGIcEJO1bJ3Jl7AH8sySS6Ynf11sfF7jK84RXFM_90okn2UVGd6JqSpTtBsCdCI8Totybdz7V5qQOcFO"/>
    </settings>
  </paypal>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Stripe SDK settings -->
    <add key="StripeSecretKey" value="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" />
    <add key="StripePublishableKey" value="pk_live_51HYH5zI7bYFbeO1sBNuO16x4CbLwkaBgj7XHsuaUKyrpr7ALghsmTAHyazYiTYAkaHdf5uikrvdsWOPFpKsBO1zn00y2ojMA8h" />

    <!--<add key="StripeSecretKey" value="sk_test_M5CrZzg0uGoYxcZ5Aq5Nw9Yo00cdLLebpI" />
    <add key="StripePublishableKey" value="pk_test_hU24l81pg6VsCYiHi8gyiN3x00NuD46KkY" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <!--<sessionState timeout="525600" mode="StateServer"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OnlineRevisionEntities" connectionString="metadata=~/bin/DbContext\OnlineRevisionDb.csdl|~/bin/DbContext\OnlineRevisionDb.ssdl|~/bin/DbContext\OnlineRevisionDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PassdentDb.mssql.somee.com;user id=kaziz_SQLLogin_1;pwd=hskhk7wb4g;initial catalog=PassdentDb;integrated security=false;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>    
   <rewrite>    
      <rules>    
      <rule name="Force HTTPS" enabled="true">    
   <match url="(.*)" ignoreCase="false"/>    
   <conditions>    
      <add input="{HTTPS}" pattern="off"/>    
   </conditions>    
   <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>    
      </rule>    
      </rules>    
   </rewrite>    
</system.webServer> 
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>