<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="paypalId" value="AXXAjo4d00jY3nbxGQQcwyo6SSp2ii2mc0t5sA-39Wl64AaTpn_NOXFi3oPvjg4SxnVuHbfQJfTYQxSW" />
      <add name="paypalSecret" value="ED8x1YIGQbKsGfH05AgFJfoX7bgXl6ZJCtE9B0xNTORo7_e92flAbhpysHdgqJqDeRm0VBniQoiMzljA" />
    </settings>
  </paypal>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Stripe SDK settings -->
    <add key="StripeSecretKey" value="sk_test_51HSmHXJXqX9mCgd9NnvPRmYY50s3kTcqAbkOcWYX5QpCxrJ2aGDbK2BJP592ppDYo9ozebRtxQdp4fZeS06bWPaH00f3gmjQD7" />
    <add key="StripePublishableKey" value="pk_test_51HSmHXJXqX9mCgd9JaMxI3TwaBqJzNJs1pbk6gjQYsuLPYFd7CdcN8nxYTSDnZ71S1drIwSarxCVJ9tHhLdVUzPu009koz6atM" />

    <!--<add key="StripeSecretKey" value="sk_test_M5CrZzg0uGoYxcZ5Aq5Nw9Yo00cdLLebpI" />
    <add key="StripePublishableKey" value="pk_test_hU24l81pg6VsCYiHi8gyiN3x00NuD46KkY" />-->
  <add key="LogicalUpload.Directory" value="~/UserImages" /><add key="LogicalUpload.Extensions" value=".png;.gif;.jpg;.bmp" /></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <!--<sessionState timeout="525600" mode="StateServer"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
    </staticContent>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<!--<connectionStrings><add name="OnlineRevisionEntities" connectionString="metadata=res://*/DbContext.OnlineRevision.csdl|res://*/DbContext.OnlineRevision.ssdl|res://*/DbContext.OnlineRevision.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OnlineRevision;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
<!--<connectionStrings><add name="OnlineRevisionEntities" connectionString="metadata=res://*/DbContext.OnlineRevision.csdl|res://*/DbContext.OnlineRevision.ssdl|res://*/DbContext.OnlineRevision.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OnlineRevision;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
<connectionStrings><add name="OnlineRevisionEntities" connectionString="metadata=res://*/DbContext.OnlineRevision.csdl|res://*/DbContext.OnlineRevision.ssdl|res://*/DbContext.OnlineRevision.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OnlineRevision;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><location path="RichContent">
		<system.web>
			<!-- 50MB in kilobytes, default is 4096 or 4MB-->
			<httpRuntime maxRequestLength="51200" executionTimeout="3600" />
		</system.web>
		<system.webServer>
			<security>
				<requestFiltering>
					<!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
					<requestLimits maxAllowedContentLength="52428800" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location></configuration>