@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/homepage.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link href="//db.onlinewebfonts.com/c/c017c9efb81f32559dee68fa54edbde4?family=ReklameScriptW00-Medium" rel="stylesheet" type="text/css" />
<link href="~/dist/css/card.css" rel="stylesheet" />
<link href="~/dist/css/custom-css.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/jquery.creditCardValidator.js"></script>
<script src="~/js/creditcard.js"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<style>
    .header-area a:hover {
        color: white;
    }

    @@media screen and (max-width: 600px) {
        .hideSection, .headingTop, .vertical-line {
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
        }

        body {
            background: none;
            overflow-x: hidden; /* Hide scrollbars */
        }

        .contentAside2 {
            margin-left: -56px;
            clear:both;
        }
    }
</style>

<script>
    $('.linksTop2').click(function () {
        $('html, body').animate({
            scrollTop: $("#pricing").offset().top
        }, 1000)
    }),
     $('.linksTop4').click(function () {
         $('html, body').animate({
             scrollTop: $("#faq").offset().top
         }, 1000)
     });
</script>

<p class="headingTop">APPLYING FOR DENTAL FOUNDATION <br />TRAINING?</p>

<div class="hideSection">
    <section class="title-bg section-full">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">

                    </div>
                </div>
            </div>

            <p class="headingSecond">SECURE YOUR FIRST CHOICE SCHEME</p>

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="contentDown">
                    <div class="col-lg-3 col-sm-6">

                        <div class="icon">
                            <span class="lnr lnr-star"></span>
                        </div>
                        <div class="desc">
                            <div class="single-promo promo1">
                                <img class="imgTop" src="~/img/3.png" height="70" width="70" />
                                <p class="downPara">Large bank of dental <br /> SJT's <br />125+ questions </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-6">

                        <div class="icon">
                            <span class="lnr lnr-magic-wand"></span>
                        </div>
                        <div class="desc">
                            <div class="single-promo promo2">
                                <img class="imgTop" src="~/img/1.png" height="70" width="70" />
                                <p class="downPara">Expert advice & tutorials on how to approach the exam</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-6">

                        <div class="icon">
                            <span class="lnr lnr-sun"></span>
                        </div>
                        <div class="desc">
                            <div class="single-promo promo3">
                                <img class="imgTop" src="~/img/4.png" height="80" width="80" />
                                <p class="downPara">Detailed breakdown & analyses of each question</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-6">

                        <div class="icon">
                            <span class="lnr lnr-layers"></span>
                        </div>
                        <div class="desc">
                            <div class="single-promo promo4">
                                <img class="imgTop" src="~/img/2.png" height="90" width="90" />
                                <p class="downPara">Powerful simulation of exam including mock tests</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row justify-content-center hideSpaces">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center hideSpaces">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center hideSpaces">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center hideSpaces">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>

<section id="contact" class="section-full">
    <div class="col-lg-12">
        <div class="container">
            <p class="headingPass alignH1">WELCOME TO <span class="pass">PASSDEN+</span></p>
            <div class="col-lg-8">
                <div class="product-area-title text-center">

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mt-30">
                    <p class="secondContent">
                        Passdent is an online revision platform for dental students dedicated to help them prepare for the situational judgment  test, a key part of the application for foundation training in

                        the UK. Our questions are designed to mirror those found on the real exam and are regularly updated by qualified dentists. Our aim is to help you secure your first choice of scheme.
                    </p>
                </div>

                <div class="contentAside2">
                    <div class="vertical-line" style="height: 360px;float:left;"></div>

                    <div class="col-md-4 mt-30 val-30 dv">
                        <div>
                            <span class="dot">1</span>
                            <span class="contentAside">CHOOSE  YOUR  PLAN</span>
                            <div class="well"></div><div class="well"></div><div class="well"></div>

                            <span class="dot">2</span>
                            <span class="contentAside">CREATE  AN  ACCOUNT </span>
                            <div class="well"></div><div class="well"></div><div class="well"></div>

                            <span class="dot">3</span>
                            <span class="contentAside">START  YOUR  REVISION </span>
                            <div class="well"></div><div class="well"></div><div class="well"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>

<!-- Start Focused Learning -->

<section class="section-full studio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>

                    <h2 class="focused">REAL-TIME <br /><span class="learning">SIMULATION</span></h2>

                    <hr align="left" width="50%">

                    <p class="focusedContent">Prepare for the SJT with our dynamic replica of the exam interface which allows powerful simulation of the real exam. Each question is supported by a detailed breakdown and analyses to help you understand the rationale behind the answers.</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="product-area-title text-center">
                                <p class="text-uppercase"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Focused Learning -->


<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>

<!-- Start Pricing Area -->
<section id="pricing" class="section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase"></p>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase"></p>

                </div>
            </div>
        </div>

        <p class="headingPlan">PLANS & PRICING</p>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase"></p>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase"></p>

                </div>
            </div>
        </div>

        <div class="plans">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-pricing-table">
                        <div class="top">
                            <div class="head text-center">
                                <span class="lnr lnr-shirt"></span><br>

                                <div class="well"></div>
                                <h2 class="pckAccess">1 week access</h2>

                                <div class="well"></div>
                                <p class="pckHeading"><span class="dollar"></span>20</p>

                                <div class="well"></div>
                                <p class="text-white text-uppercase">Valid for one week</p><br />

                                <a class="primary-btn" id="20" data-val="1 week access">SELECT</a>
                                <div class="well"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing-table">
                        <div class="top">
                            <div class="top">
                                <div class="head text-center">
                                    <span class="lnr lnr-shirt"></span><br>

                                    <div class="well"></div>
                                    <h2 class="pckAccess">2 weeks access</h2>

                                    <div class="well"></div>
                                    <p class="pckHeading"><span class="dollar"></span>25</p>

                                    <div class="well"></div>
                                    <p class="text-white text-uppercase">Valid for two weeks</p><br />

                                    <a class="primary-btn" id="25" data-val="2 weeks access">SELECT</a>
                                    <div class="well"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing-table">
                        <div class="top">
                            <div class="head text-center">
                                <span class="lnr lnr-shirt"></span><br>

                                <div class="well"></div>
                                <h2 class="pckAccess">1 month access</h2>

                                <div class="well"></div>
                                <p class="pckHeading"><span class="dollar"></span>30</p>

                                <div class="well"></div>
                                <p class="text-white text-uppercase">Valid for one month</p><br />

                                <a class="primary-btn" id="30" data-val="1 month access">SELECT</a>
                                <div class="well"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="@Session["userName"].ToString()" id="hdnSession" />
</section>
<!-- End Pricing Area -->

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="product-area-title text-center">
            <p class="text-uppercase"></p>

        </div>
    </div>
</div>

<br /><br /><br /><br />

<!-- Faq Area -->
<section id="faq" class="section-full gray-bg">
    <div class="row justify-content-center">
        <div class="col-lg-8">

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">

        </div>
    </div>
    <div class="container">
        <p class="headingFaq">FREQUENTLY ASKED QUESTIONS</p>

        <div class="row justify-content-center">
            <div class="col-lg-8">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">

            </div>
        </div>

        <div class="row">
            <div class="accordion">
                <div class="accordion-item">
                    <a>When can I get started?</a>
                    <div class="content">
                        <p class="para">Our subscription service will open in August. However, in the meantime you can take advantage of our free trial.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <a>Can I extend my subscription?</a>
                    <div class="content">
                        <p class="para">Yes of course. If you wish to purchase more time, you can do so at the end of your subscription.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <a>Can I cancel my subcription?</a>
                    <div class="content">
                        <p class="para">Our cancellation & refund policy can be found under terms and conditions</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <a>When does the Situational Judgment Test (SJT) take place?</a>
                    <div class="content">
                        <p class="para">Key dates for the DFT application process are released in August before the begining of each academic year and the SJT typically takes place during the first week of Novemeber. We recommend you visit the COPDEND website for the official dates.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faq -->

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "form1" }))
{
    <div class="modal fade" id="LoginModalUp" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-ku">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="ModalTitle">PASSDEN+ Subscription</h4>
                    <span class="package" name="package"></span>
                </div>
                <div class="modal-body">
                    <input type="text" id="txtEmail" Class="form-control input-lg inp-icon" placeholder=" Your Email Here While Registration" required />
                    <br />

                    <div class="payment-type-segment">
                        <div class="radio-box paypal radio-box-highlighted" style="border-top: none;">
                            <div class="radio-label">
                                <div class="payment-type-top">
                                    <input type="radio" name="radio" id="radio1" class="payment-type-radio" value="paypal">
                                    <span class="payment-type-name">PayPal</span>
                                    <div class="payment-type-image"></div>
                                </div>
                                <div class="payment-type-description">
                                    Purchase quickly and securely with your PayPal account
                                </div>
                            </div>
                        </div>
                        <div class="radio-box card">
                            <div class="radio-label">
                                <div class="payment-type-top">
                                    <input type="radio" name="radio" id="radio2" class="payment-type-radio" value="stripe">
                                    <span class="payment-type-name">Buy with Card</span>
                                    <div class="payment-type-image"></div>
                                </div>
                                <div class="payment-type-description">
                                    Securely pay with Visa, Mastercard or American Express
                                </div>

                                <div id="showPara">

                                    <div class="card-segment" style="display: block;">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-md-12">
                                                <p class="input-label">
                                                    Card number
                                                </p>
                                                <div class="input-wrapped full" id="validateCard">
                                                    <input type="text" size="20" name="ccNumber" maxlength="16" id="cardnumber" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" placeholder="1234 5678 9012 3456" data-creditcard="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="input-label">Expiry Date</p>
                                                <div class="box">
                                                    <input type="text" id="ExpDate" class="form-control" placeholder="MM / YY" />
                                                    <span class="help-info"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="input-label">CVC / CVV</p>
                                                <div class="box">
                                                    <input type="text" id="cvc" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" />
                                                    <span class="help-info"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" class="card-expiry-month-hidden" />
                                        <input type="hidden" class="card-expiry-year-hidden" />
                                    </div>

                                </div>
                            </div>

                            <input type="hidden" name="hfStripeToken" id="hfStripeToken" />
                            <input type="hidden" name="total-price-pointer" id="total-price-pointer" />
                            <input type="hidden" name="package" id="package" />
                            <input type="hidden" name="email" id="email" />
                        </div>

                    </div>
                    <div class="price-large-wrapper">
                        <span class="currency">£</span>
                        <span class="price total-price-pointer" name="total-price-pointer"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="wrapper">
                        <a id="btnPaypal" class="button btn btn-primary">Continue To PayPal</a>
                        <a id="btnCard" class="button btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="footer-bottom d-flex justify-content-between align-items-center">
    <p class="footer-text m-0"></p>
    <div class="footer-social d-flex align-items-center">

    </div>
</div>


<script>
    const items = document.querySelectorAll(".accordion a");

    function toggleAccordion() {
        this.classList.toggle('active');
        this.nextElementSibling.classList.toggle('active');
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));

    var price = "";
    var pckName = "";
    $(document).on("click", ".primary-btn", function () {
        var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
        var val = $(this).attr('data-val');
        $(".package").text(val);
        $("span#package").css("text-align", "center");
        $(".total-price-pointer").text(event.target.id);
        //alert(event.target.id + " " + val);

        pckName = $(".package").text(val);
        price = $(".total-price-pointer").text(event.target.id)
    });

    $(document).on("click", "#btnPaypal", function () {

        alert($(".package").text() + ' ' + $(".price").text());
        $.ajax({
            url: "/PayWithPaypal/GetPaymentWithPaypal",
            type: "POST",
            data: JSON.stringify({ packageName: $(".package").text(), price: $(".price").text() }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                //window.location.href = '/PayWithPaypal';
                window.open('/PayWithPaypal', '_blank');
            },
            error: function (er) {
                alert(er);
            }
        });
    });
</script>